*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  display: flex;
  /* justify-content: space-evenly ; */
  height: 100vh;
  width: 100vw;
}

.SideBar{
  display: inline;
  height: 100%;
  width: 18%;
}
.hero{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 80%;
  height: 100vh;
  gap: 8%;
}

.NavBar{
  /* background-color:rgba(0, 0, 0, 0.377); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 50%; 
  padding-top: 5%;
}

.Model{
  height: 75% ;
  background-color:#94a5bf;
  width: 100%;
  border-radius: 20px;
  
}